:root {
    --main-color: blueviolet;
    --main-color-light: rgb(186, 147, 223);
    --sub-color: lavender;
}

* {
    margin: 0;
    padding: 0;
}

/* Layout */

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
        "side header" 
        "side content";
    max-height: 100vh;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 40% 60%;
}

#side-menu {
    grid-area: side;
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 85%;
    & li:last-child {
        margin-top: auto;
    }
}

#content {
    background-color: whitesmoke;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 55% 45%;
    grid-template-areas: 
    "projects announcements" 
    "projects trending";
}

#projects-section {
    grid-area: projects;
    padding: 20px 10px;
}

#projects-section > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 94%;
}

.project-div {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .3s;
}

.project-div:hover {
    transform: scale(1.05);
}

.project-div > p{
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(82, 82, 82);
}

.project-icons {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;

}

#announcements-section {
    grid-area: announcements;
    padding-top: 20px;
    padding-right: 15px;
}

#announcements-section > div {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.announcement {
    cursor: pointer;
    transition: .3s;
    padding: 0 10px;
}

.announcement:hover {
    background-color: var(--sub-color);
}

.grey-line {
    border: 0;
    background-color: grey;
    height: 1px;
    width: 100%;
    opacity: 0.25;
}

#trending-section {
    grid-area: trending;
    padding-right: 15px;
}

#trending-section > div {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: .3s;
}

.trending-item:hover {
    background-color: var(--sub-color);
}

/* Buttons */

button, .menu-item {
    cursor: pointer;
    border: none;
}

.menu-item {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: 18px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    
    
}

.grow {
    transition: transform 80ms;
}

.grow:hover {
    transform: scale(1.1);
}

.menu-item svg{
    width: 35px;
    margin-right: 18px;
}

#dashboard-btn {
    font-size: 1.6rem;
    margin-bottom: 40px;
    margin-left: 10px;
}

#dashboard-btn svg {
    width: 50px;
    margin-right: 10px;
}

#search-btn {
    width: 30px;
    min-width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: var(--main-color);
}

.action-btn {
    width: 90px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    background-color: var(--main-color);
    border-radius: 30px;
}

/* Inputs */

#search-input {
    width: 80%;
    max-width: 700px;
    height: 27px;
    padding-left: 10px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    background-color: whitesmoke;
    outline: none;
}

#search-input:focus {
    border-color: rgb(186, 147, 223);
}

/* Flexbox */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#icon-section {
    justify-content: flex-end;
    gap: 30px;
}

#action-buttons {
    justify-content: center;
}



/* Images/SVG */

#profile-img, #profile-img-small {
    border-radius: 50%;
}

#profile-img {
    width: 60px;
}

#profile-img-small {
    width: 40px;
}

.white-fill {
    fill: white;
}

.small-svg {
    width: 25px;
}

.project-icons > svg{
    width: 25px;
    transition: .2s;
    border-radius: 50%;
}

.project-icons > svg:hover {
    background-color: var(--sub-color);
}

svg {
    cursor: pointer;
}



/* Text/Positioning */

#profile-name {
    margin-right: 80px;
}

.header-left-margin {
    margin-left: 50px;
}

.bold {
    font-weight: bold;
}

#greeting {
    font-size: .9rem;
}

#user-name {
    font-size: 1.5rem;
}

#content > div > p {
    font-weight: bold;
    margin-bottom: 8px;
}

.announcement-heading {
    font-weight: bold;
    font-size: .9rem;
}

.small-text {
    font-size: .8rem;
}

/* Tablet Version */

@media (max-width: 1024px) {

    body {
        background-color: whitesmoke;
        grid-template-columns: 230px 1fr;
    }

    #header {
        background-color: white;
    }

    #side-menu {
    position: fixed;
    height: 100vh;
    width: 230px;
}

    #content {
        display: block;
    }

    #announcements-section {
    padding: 20px 15px 0 15px;
    }

    #trending-section {
        padding: 20px 15px 20px 15px;
    }

    #header {
    grid-template-columns: 2fr 1fr;
    }

    .action-btn {
    width: 65px;
    }

    #search-input {
    width: 100%;
    margin-right: 40px;
    }
}

@media (max-width: 750px) {
    #header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "greeting"
        "search"
        "action"
        ;
    }

    #search-container {
        grid-area: search;
        padding: 0 15px;
    }

    #search-input {
        margin-right: 0;
    }

    #icon-section {
        display: none;
    }

    #greeting-section {
        grid-area: greeting;
        justify-content: center;
        padding-top: 15px;
    }


    #action-buttons {
        grid-area: action;
        padding-bottom: 5px;
    }

    #projects-section > div {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
}

    #profile-name {
        margin-right: 0px;
    }

    .header-left-margin {
        margin-left: 0px;
    }
}
