* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "side header" "side content";
}

#header {
    grid-area: header;
    background-color: aqua;
}

#side-menu {
    grid-area: side;
    background-color: blueviolet;
}

#content {
    grid-area: content;
    background-color: chocolate;
}