* {
    margin: 0;
    padding: 0;
}

/* Layout */

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
        "side header" 
        "side content";
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 40% 60%;
}

#side-menu {
    grid-area: side;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 85%;
    & li:last-child {
        margin-top: auto;
    }
}

#content {
    background-color: whitesmoke;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "projects announcements" 
    "projects trending";
}

#projects-section {
    grid-area: projects;
    padding: 30px 10px;
}

#projects-section > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-div {
    border: 1px solid blueviolet;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-div > p{
    min-width: 250px;
}

.project-icons {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;

}

#announcements-section {
    grid-area: announcements;
}

#trending-section {
    grid-area: trending;
    background-color: pink;
}

/* Buttons */

button, .menu-item {
    cursor: pointer;
    border: none;
}

.menu-item {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: 18px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    transition: transform 80ms;
    
}

.menu-item svg{
    width: 35px;
    margin-right: 18px;
}

.menu-item:hover {
    transform: scale(1.1);
}

#dashboard-btn {
    font-size: 1.6rem;
    margin-bottom: 40px;
    margin-left: 10px;
}

#dashboard-btn svg {
    width: 50px;
    margin-right: 10px;
}

#search-btn {
    width: 30px;
    min-width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: blueviolet;
}

.action-btn {
    width: 90px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    background-color: blueviolet;
    border-radius: 30px;
    transition: transform 80ms;
}

.action-btn:hover {
    transform: scale(1.1);
}

/* Inputs */

#search-input {
    width: 80%;
    max-width: 700px;
    height: 27px;
    padding-left: 10px;
    border: 2px solid blueviolet;
    border-radius: 15px;
    background-color: rgb(245, 244, 244);
}

/* Flexbox */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#icon-section {
    justify-content: flex-end;
    gap: 30px;
}

#action-buttons {
    justify-content: center;
}

/* Images/SVG */

#profile-img, #profile-img-small {
    border-radius: 50%;
}

#profile-img {
    width: 60px;
}

#profile-img-small {
    width: 40px;
}

.white-fill {
    fill: white;
}

.small-svg {
    width: 25px;
}

.project-icons > svg{
    width: 25px;
}



/* Text/Positioning */

#profile-name {
    margin-right: 80px;
}

.header-left-margin {
    margin-left: 50px;
}

.bold {
    font-weight: bold;
}

#greeting {
    font-size: .9rem;
}

#user-name {
    font-size: 1.5rem;
}

#content > div > p {
    font-weight: bold;
    margin-bottom: 8px;
}